@model Northwind.Entities.Concrete.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>
<p>You have suucesfully enter hidden place</p>

@using (Html.BeginForm()) 
{

    //HtmlEditorForModel ile tüm modellerin inputboxları yaratılır.
    @Html.EditorForModel()
    <input type="submit" value="Kaydet"/>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
